.dockerignore
.editorconfig
.env
.git
.gitignore
.idea
.vscode
CHANGELOG.md
coverage*
data
docker-compose*
Dockerfile*
eslint.config.js
helm-charts
LICENSE
Makefile
node_modules
prettier.config.js
README.md
renovate.json