CONVERTX_CONTAINER_NAME=convertx
CONVERTX_PORT=3000
CONVERTX_DATA_DIR=./data
CONVERTX_IMAGE=ghcr.io/c4illin/convertx
JWT_SECRET=change-this-to-a-long-random-string
HTTP_ALLOWED=true
AUTO_DELETE_EVERY_N_HOURS=24
TZ=Asia/Shanghai
ACCOUNT_REGISTRATION=false
ALLOW_UNAUTHENTICATED=false
MAX_CONVERT_PROCESS=0
