CONVERTX_CONTAINER_NAME=convertx
CONVERTX_PORT=3000
CONVERTX_DATA_DIR=./data
CONVERTX_IMAGE_REF=ghcr.io/c4illin/convertx@sha256:e1f85be04bbaf8a55ead9261194c3ae0fa0957d303ea537127154860b2552afd
JWT_SECRET=change-this-to-a-long-random-string
HTTP_ALLOWED=true
AUTO_DELETE_EVERY_N_HOURS=24
TZ=Asia/Shanghai
ACCOUNT_REGISTRATION=false
ALLOW_UNAUTHENTICATED=false
MAX_CONVERT_PROCESS=0
