# This compose file is for development and testing purposes only. See README for production deployment instructions.

services:
  convertx:
    build:
      context: .
      # dockerfile: Debian.Dockerfile
    volumes:
      - ./data:/app/data
    environment: # Defaults are listed below. All are optional.
      - ACCOUNT_REGISTRATION=true # true or false, doesn't matter for the first account (e.g. keep this to false if you only want one account)
      - JWT_SECRET=aLongAndSecretStringUsedToSignTheJSONWebToken1234 # will use randomUUID() by default
      - HTTP_ALLOWED=false # setting this to true is unsafe, only set this to true locally
      - ALLOW_UNAUTHENTICATED=false # allows anyone to use the service without logging in, only set this to true locally
      - AUTO_DELETE_EVERY_N_HOURS=1 # checks every n hours for files older then n hours and deletes them, set to 0 to disable
      # - FFMPEG_ARGS=-hwaccel vulkan # additional arguments to pass to ffmpeg
      # - WEBROOT=/convertx # the root path of the web interface, leave empty to disable
      # - HIDE_HISTORY=true # hides the history tab in the web interface, defaults to false
      - TZ=Europe/Stockholm # set your timezone, defaults to UTC
      # - UNAUTHENTICATED_USER_SHARING=true # for use with ALLOW_UNAUTHENTICATED=true to share history with all unauthenticated users / devices
      - CLAMAV_URL=http://clam_av_api:3000/api/v1/scan
    ports:
      - 8080:3000

  clamav-rest-api:
    image: benzino77/clamav-rest-api:latest
    container_name: clamav-rest-api
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      # field name expected in the multipart form
      - APP_FORM_KEY=FILES
      # talk to your existing ClamAV daemon
      - CLAMD_IP=CLAMAV_server_IP
      - CLAMD_PORT=3310
      # max allowed file size (here: 250 MB)
      - APP_MAX_FILE_SIZE=262144000
    ports:
      # outside:inside
      - "3000:3000"

   clamav:
    image: clamav/clamav:latest
    container_name: clamav
    restart: unless-stopped
    ports:
      - "3310:3310"
    environment:
      - CLAMAV_NO_FRESHCLAMD=false   
