services:
  convertx:
    image: convertx:pandoc-support-chinese
    container_name: convertx
    restart: unless-stopped
    ports:
      - "3001:3000"
    environment:
      - JWT_SECRET=ivanzhangwb # will use randomUUID() if unset
      - HTTP_ALLOWED=true # uncomment this if accessing it over a non-https connection
      - PANDOC_ENABLE_CHINESE_FONT=true
      - PANDOC_CHINESE_FONT_FAMILY=Noto Serif CJK SC
      - PANDOC_CHINESE_FONT_PATH=/usr/local/share/fonts/chinese
    volumes:
      - /home/admin/data/docker/convertX:/app/data
      - /usr/share/fonts:/usr/local/share/fonts/chinese:ro