div.icon {
  height: 100px;
  width: 100px;
}

button[type="submit"] {
  width: 50%
}

div.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 99999999999px) {
  .convert_to_popup {
    width: 50vw !important;
    height: 50vh;
  }
}

@media (max-width: 850px) {
  .convert_to_popup {
    width: 60vw !important;
    height: 60vh;
  }
}

@media (max-width: 575px) {
  .convert_to_popup {
    width: 80vw !important;
    height: 75vh;
  }
}

@media (max-height: 1000px) {
  .convert_to_popup {
    height: 40vh;
  }
}
@media (max-height: 650px) {
  .convert_to_popup {
    height: 30vh;
  }
}

@media (max-height: 500px) {
  .convert_to_popup {
    height: 25vh;
  }
}

@media (max-height: 400px) {
  .convert_to_popup {
    height: 15vh;
  }
}
