name: Bump Version
permissions:
  contents: write

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  bump-version:
    name: Bump Version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24"

      - name: Bump version and push tag
        uses: ramonpaolo/bump-version@v2.4.0
        with:
          tag: ${{ github.ref_name }}
          commit: true
          branch_to_push: "main"
